# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Jogo do Barco.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Documents\GithubProjects\GameJams\BRACKEYS GAMEJAM 2021\Jogo-do-Barco\Jogo do Barco\.idea\.idea.Jogo do Barco\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
